.estilos-nav {
   background-color: #17191d;
   padding: 20px;
   position: fixed;
   top: 0;
   width: 100%;
   z-index: 1;
   
  }

.container-links{
  display: flex;
  justify-content: right;
  margin-top: 10px;
  margin-right: 140px;
}

.link {
  color: #e2e3e7;
  list-style: none;
  margin: 12px;
  font-size: 24px;

}
.ban {
  width: 65px;
  display: block;
  float: left;
  margin-left: 120px;
}

.link:hover {
  animation-name: color;
  animation-duration: 900ms;
  animation-fill-mode: forwards;
  transition: all 0.3s ease-in-out;
  transform: translateX(0) translateX(10px);
}
@keyframes color {
  100% {
    color: rgb(197, 64, 16);
  }
}



/* Estilos para el menú responsive */

 @media (max-width: 570px) {
  .estilos-nav {
    background-color: #17191d;
    padding: 15px;
    position: fixed;
    top: 0;
    width: 100%;
    z-index: 1;
    
   }
 
 .container-links{
   display: flex;
   justify-content: right;
   margin-top: 1px;
   margin-right: 5%;
 }
 
 .link {
   color: #e2e3e7;
   list-style: none;
   margin: 12px;
   font-size: 20px;
 
 }
 .ban {
  width: 45px;
  display: block;
  float: left;
  margin-left: 10px;
}
}

@media screen and (min-width: 570px) and (max-width: 800px) {
   
 .container-links{
  display: flex;
  justify-content: right;
  margin-top: 10px;
  margin-right: 40px;
}


  .ban {
    width: 65px;
    display: block;
    float: left;
    margin-left: 50px;
  }
} 